
.social{
height:30px;
width:30px;
margin-top:-20px;
border-radius:50%;
position:fixed;
top:70%;
right:2px;
line-height: 48px;
}

.social a{

}

.social a img{
width: 100%;
border-radius: 50%;


}

.social:hover {
    background-color: #3e8e41
}

.social:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  opacity: 0.8;
  cursor: pointer;
}

.social-butons:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
