/* Estilos del header */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header {
  border: black 0px solid;
  width: 100vw;
  display: flex;
  margin: 2rem;
  align-items: center;
}

/* left navigation styles */
.pinterestlogo {
  height: 3rem;
  width: 3rem;
}

.left-nav {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: space-around;
}

.left-nav-item {
  height: 6rem;
  width: 8rem;
  color: white;
  background-color: black;
  border: 2px solid;
  border-radius: 50px;
  text-align: center;
  padding-top: 1.3rem;
}

/* Buscador central */

.buscador {
  width: 70%;
  height: 6rem;
  border-radius: 50px;
}

/* right navigation styles */

.right-nav {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 4rem;
}

.right-nav-button {
  height: 3rem;
  width: 3rem;
}

.right-nav-profile {
  height: 2.5rem;
  width: 2.5rem;
}

.right-nav-button:hover {
  background-color: #efefef;
}

.list-input {
  height: 2rem;
  width: 2rem;
  margin-right: 3rem;
}

/* Estilos del grid */

@media screen and (max-width: 980px) {
  /* propiedades CSS a aplicar en ventanas de 980px o menos */
}
@media screen and (max-width: 650px) {
  /* propiedades CSS a aplicar en ventanas de 650px o menos */
}
@media screen and (max-width: 480px) {
  /* propiedades CSS a aplicar en ventanas de 480px o menos */
}

.main-container {
  width: 100%;
  display: flex;
}

.row {
  display: flex;
  width: 21%;
  flex-direction: column;
  margin: 1rem 1rem 1rem 1rem;
}

.image-container {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: black;
}

.image-container-tall {
  width: 100%;
  height: 30rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: black;
}

.grid-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.grid-image:hover {
  opacity: 0.8;
  cursor: pointer;
}
