/* Estilos del header */
.header {
  border: black 0px solid;
  height: 80px;
  display: flex;
  /* align-content: space-around;
    justify-content: space-between;
    align-items: center; */
}
.navizq {
  border: red 0px solid;
  height: 80px;
  width: 30%;
  background-color: gray;
}

.pinterestlogo {
  width: 50px;
}

.centro {
  border: steelblue 0px solid;
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0px;
}
input {
  width: 40%;
  padding: 12px 10px;
  margin: 0px 0px;
  border-radius: 100px;
}
.navder {
  border: steelblue 0px solid;
  width: 30%;
  padding: 5px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campalert {
  height: 40px;
  margin: 0px 15px;
}
.bubble {
  height: 40px;
  margin: 0px 15px;
}
.perfilicon {
  height: 40px;
  border-radius: 50%;
  margin: 0px 15px;
}
.list {
  width: 20px;
  margin: 0px 15px;
}

/* Estilos del grid */

@media screen and (max-width: 980px) {
  /* propiedades CSS a aplicar en ventanas de 980px o menos */
}
@media screen and (max-width: 650px) {
  /* propiedades CSS a aplicar en ventanas de 650px o menos */
}
@media screen and (max-width: 480px) {
  /* propiedades CSS a aplicar en ventanas de 480px o menos */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 20;
  max-width: 90px;
  padding: 10px 10px;
  margin: auto;
}

.social {
  /*border:1px solid #000;*/
  height: 22px;
  width: 22px;
  /*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
  margin-top: -20px;
  border-radius: 50%;
  position: fixed;
  top: 70%;
  right: 2px;
  line-height: 48px;
}
.social a {
  box-shadow: 2px 2px 2px gray;
}

.social a img {
  width: 100%;
  border-radius: 50%;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

main {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

body {
  margin: 40px;
  font-family: "Open Sans", "sans-serif";
  background-color: #fff;
  color: rgb(255, 255, 255);
}

h1,
p {
  margin: 0 0 1em 0;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  /* display: grid;*/
  grid-gap: 10px;
}

/* no grid support? */

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

.tall-panel {
  grid-row-end: span 2;
}

.header,
.footer {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.wrapper > * {
  background-color: rgb(248, 245, 245);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}
